:root{
    --cor-fundo:#f4f1ea;
    --cor-texto: #fdfdfd;
    --cor-principal:#70255d;
    --cor-secundaria:#9b4d83;
    --cor-hover:#e0dee0;
    --cor-surperfice: white;
    --cor-card:#8e8b8f;
    --cor-legenda:#726d6d;
    --cor-clara: #white;
    --cor-rodape:#222222;

}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-principal)
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color:var(--cor-texto);
    color: rgb(57, 64, 104);
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 36px;
}

h2 {
    color:var(--cor-principal);
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color:var(--cor-secundaria);
    text-decoration: none;
    background-color:var(--hover);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color:var(--cor-surperfice);
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color:var(--cor-card);
    margin-top: 8px;
}

.card {
    background-color: var(--cor-legenda);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color:var(--cor-clara);
    color: rgb(17, 17, 19);
    text-align: center;
    padding: 20px;
    margin-top: 30px;

}

button {
    background-color:var(--cor-rodape);
    color: aliceblue;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background-color: firebrick;
}

.curtir {
    display: block;
    width: fit-content;
    margin: 20px auto;
}