body {
    background-color: rgb(95, 86, 86);
    color: rgb(56, 83, 133);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(62, 62, 92);
    color: rgb(34, 40, 75);
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(5, 15, 26);
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: rgba(31, 29, 51, 0.884);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(59, 60, 73);
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: rgb(49, 49, 75);
    margin-top: 8px;
}

.card {
    background-color: rgb(48, 51, 66);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: rgb(47, 37, 66);
    color: rgb(17, 17, 19);
    text-align: center;
    padding: 20px;
    margin-top: 30px;

}

button {
    background-color: brown;
    color: aliceblue;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background-color: firebrick;
}

.curtir {
    display: block;
    width: fit-content;
    margin: 20px auto;
}